<template>
  <div class="col-xs-12 col-md-9 mx-auto d-flex pt-md-5">
    <div class="col-xs-12 col-md-6">
      <canvas class="card-img-top " ref="preview" style="width:100%; height:300px"> </canvas>
    </div>
    <div class="col-xs-12 col-md-6">
      <dl>
        <dt>Stamp Type</dt>
        <dd>
          {{this.request.type}}
        </dd>
        <dt>Expiry</dt>
        <dd>
          <select class="form-control custom-select"  name="status" v-model="expiry">
            <option v-for="choice in expiryChoices" :key="choice.expiry" :value="choice.type">{{ choice.expiry}}</option>
          </select>
        </dd>
        <dt>Number of Packs</dt>
        <div>
          <dd>
            <input type="number" name="number_of_packs" min="0"  v-model="packs" class="form-control">
          </dd>
        </div>
        <dt>Number of Sheets</dt>
        <div>
          <dd>
            <input type="number" name="number_of_packs" min="0" v-model="sheets" class="form-control">
          </dd>
        </div>
        <dt>Cost</dt>
        <div>
          <dd>{{cost | money}}</dd>
        </div>
        <dt>Convenience Charge</dt>
        <div>
          <dd>{{convenienceCharge | money}}</dd>
        </div>
        <dt>Total Cost</dt>
        <div>
          <dd>{{totalCost |money}}</dd>
        </div>
      </dl>
      <a href=""
        :disabled="isSubmitting"
        class="btn btn-info btn-md d-inline-block pull-right"
        @click.prevent="submitRequest"
        v-html="submitText"></a>
    </div>
  </div>
</template>

<script>
export default {
  props: ['request'],
  data(){
    return {
      submitText: 'Continue &rarr;',
      isSubmitting: false,
      expiry: this.request.expiry,
      packs: this.request.packs,
      sheets: this.request.sheets,
    }
  },
  computed:{
    cost () {
      const packsCost = parseInt(this.packs * 400000)
      const sheetsCost = parseInt(this.sheets * 150000)
      return packsCost + sheetsCost
    },
   convenienceCharge() {
      return 0.03 *  this.cost
    },
    totalCost(){
      return this.cost + this.convenienceCharge
    },
    expiryChoices(){
      const today = new Date()
      const choices = [
          {type:'new', expiry: '31st March, 2020'}
      ]

      if(today.getMonth() < 3 ) choices.push({type:'old', expiry: '31st March, 2019'})

      return choices
    }
  },
  filters: {
    money(val) {
      const naira = parseFloat( val / 100 ).toLocaleString('en');
      return `₦ ${(naira)}.00`
    },
  },
  mounted(){
    const img = new Image();
    const canvas = this.$refs.preview
    const ctx = canvas.getContext('2d')
    img.src = `/img/${this.request.type.toLowerCase()}.jpg`;
    const vm = this
    img.addEventListener('load', (e)=> {
      const height = canvas.height
       const width = canvas.width
       ctx.drawImage(e.target, 0, 0,  width, height);
       ctx.font = 'bold 12px serif';
       ctx.textAlign = 'center'
       ctx.fillText(vm.request.buyer_name.toUpperCase(), width/2 , height/2 + 10, 200);
       ctx.font = 'bold 12px serif';
       ctx.fillText(vm.request.scn, width/2 , height/2 + 22);
       ctx.stroke();
    })
  },
  methods:{
    submitRequest(){
      if(!this.totalCost){
        flash('This is an invalid transaction, please add some items to your cart!')
        return
      }
      this.submitText = 'Processing...'
      this.isSubmitting = true

      axios.patch(`/stamp-requests/${this.request.id}`, {
        expiry: this.expiry,
        packs: this.packs,
        sheets: this.sheets,
        amount: this.cost,
        charges : this.convenienceCharge,
        })
        .then( resp => {
          if (resp.data.updated === false) {
              //show fialure notification
              flash('Oops!, there was a problem saving processing your request')
              return
              this.submitText = 'Continue &rarr;'
              this.isSubmitting = false
            }
              flash('Your request has been registered you will be asked to make payment in a few seconds to confirm your request')
              console.dir(resp.data)
              setTimeout( () => {
                window.location.pathname = `/stamp-request-payment/${this.request.id}`
              }, 1500)
          })
          .catch( err => {
              flash('Oops!, there was a problem saving processing your request')
              this.submitText = 'Continue &rarr;'
              this.isSubmitting = false
              return
          })
      }

  }

}
</script>
<style>
.debug{
  outline: 2px solid red;
}
</style>
