<template>
  <section id="steps-uid-0-p-2" role="tabpanel" aria-labelledby="steps-uid-0-h-2" class="body current" aria-hidden="false" style="">
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Stamp Type</td>
              <td>{{store.stampType}}</td>
            </tr>
            <tr>
              <td>Number of Packs</td>
              <td>{{store.state.numberOfPacks}}</td>
            </tr>
            <tr>
              <td>Number of Sheets</td>
              <td>{{store.state.numberOfSheets}}</td>
            </tr>
            <tr>
              <td>Pick Up Address</td>
              <td>{{store.pickUpAddress}}</td>
            </tr>
            <tr>
              <td>Convenience Charge</td>
              <td>{{store.convenienceChargeFormatted}}</td>
            </tr>
            <tr class="table-success">
              <td>Total  </td>
              <td>{{store.totalCostFormatted}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</template>

<script>
import store from './../store.js'

export default {
  data () {
    return {
      store
    }
  }
}
</script>

<style>
</style>
