<template>
  <transition name="fade-in-out" appear>
    <div class="alert flash-message alert-success" v-show="show" >
      <h3 class="text-info"><i class="fa fa-exclamation-circle"></i> Information</h3>
      {{body}}.
    </div>
  </transition>
</template>

<script>
  export default {
    props : ['message'],
    data () {
      return {
        body: '',
        show : false,
      }
    },
    created () {
      if( this.message ) {
        this.flash(this.message)
      }

      window.events.$on('flash', message => {
        this.flash(message)
      })
    },
    methods: {
      hide () {
        setTimeout( ()=> {
          this.show = false
        }, 3000)
      },
      flash (message) {
        this.body = message
        this.show = true
        this.hide();
      }
    }
  }
</script>

<style lang="css" scoped>
.flash-message{
    position: fixed;
    top: 98px;
    z-index: 100;
    width: 400px;
    right: 10px
}
.fade-in-out-enter-active,
.fade-in-out-leave-active {
  transition: opacity 0.9s ease-out;
}
.fade-in-out-enter,
.fade-in-out-leave-to{
  opacity: 0;
}
@media (max-width:700px){
.flash-message{
    top: 98px;
    width: initial;
    right: 0
}
}
</style>
