<template>
  <div class="row">
    <div class="col-sm-8">
      <stamp-details></stamp-details>
    </div>
    <div class="col-sm-4">:
      <stamp-preview class="preview"
      stamp-type="Private"
      no-of-packs="2"
      no-of-sheets="4"
      name="John Obi"
      scn="SCN989830"
      total-cost="30,000"
      ></stamp-preview>
    </div>
  </div>
</template>

<script>
import StampDetails from './StampDetails.vue'
import StampPreview from './StampPreview.vue'
import store from './../store.js'

export default {
  props: ['buyer'],
  data() {
    return{
    }
  },
  components: {
    StampDetails, StampPreview
  },
  created(){
    store.state.buyer = window.user;
    store.state.branches = window.branches;
  }
}
</script>
<style>
.preview {
    margin-top: -20px;
}
</style>
