<template>
  <section id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" class="body current" aria-hidden="false" style="">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstName1">First Name </label>
          <input type="text" class="form-control" v-model="buyer.first_name" disabled="disabled">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastName1">Last Name </label>
          <input type="text" class="form-control" id="lastName1" v-model="buyer.last_name" disabled="disabled">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="emailAddress1">Email Address </label>
          <input type="email" class="form-control" id="emailAddress1" v-model="buyer.email" disabled="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phoneNumber1">Phone Number </label>
          <input type="tel" class="form-control" id="phoneNumber1" v-model="buyer.phone_number" disabled> </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="location1">Branch</label>
           <input type="tel" class="form-control" id="" v-model="buyer.branch" disabled> </div>
         </div>
       </div>
   </section>
 </template>

 <script>
 import store from './../store.js'
 export default {
  data () {
    return {
      buyer : store.state.buyer,
    }
  },
  created(){
  }
}
</script>

<style>
</style>
