<template>
  <section id="steps-uid-0-p-3" role="tabpanel" aria-labelledby="steps-uid-0-h-3" class="body current" aria-hidden="false" style="">
    <div class="row">
        <div class="form-group">
          <label class="control-label">Pick Up Location</label>
          <div class="custom-control custom-radio">
            <input type="radio" name="pickup" id="my_branch" value="my_branch" v-model="pickUpType" class="custom-control-input">
            <label class="custom-control-label" for="my_branch">My Branch</label>
          </div>
          <div class="custom-control custom-radio">
           <input type="radio" id="other_location" name="pickup" value="other_location" v-model="pickUpType" class="custom-control-input">
           <label class="custom-control-label" for="other_location">Other location</label>
          </div>
        </div>
        <div class="col-sm-12 mb-4">
            <textarea id="new_address" name="pickup_address" @change="addressChanged" v-model="pickUpAddress" class="form-control" placeholder="Pickup Address" :disabled="!customPickUp"></textarea>
        </div>
    </div>
  </section>
</template>

<script>
import store from './../store.js'

export default {
  data () {
    return {
      pickUpType : 'my_branch',
      pickUpAddress: store.state.pickUpAddress
    }
  },
  computed: {
    customPickUp(){
      return this.pickUpType !== 'my_branch'
    }
  },
  watch: {
    pickUpType(val) {
      store.state.address = ''
    }
  },
  methods: {
    addressChanged(e)
    {
      store.state.address = e.target.value
    }
  }
}
</script>

<style>
</style>
