<template>
  <div class="card">
    <div class="card-body mt-0">
        <canvas class="card-img-top" ref="preview" width="320px" height="320px">
        </canvas>
      <h4 class="card-title text-center">REQUEST DETAILS</h4>
      <p class="card-text text-center">
        Below is a summary of your request.
      </p>
        <dl>
            <dt>Stamp Type</dt>
            <dd>
              {{store.stampType}}
            </dd>
            <dt>Expiry</dt>
            <dd>
              {{expiry}}
            </dd>

            <dt>Number of Packs</dt>
            <transition name="slide-fade" mode="out-in">
              <div :key="store.state.numberOfPacks">
                <dd>{{store.state.numberOfPacks}}</dd>
              </div>
            </transition>
            <dt>Number of Sheets</dt>
            <transition name="slide-fade" mode="out-in">
              <div :key="store.state.numberOfSheets">
                <dd>{{store.state.numberOfSheets}}</dd>
              </div>
            </transition>
            <dt>Convenience Charge</dt>
            <transition name="slide-fade" mode="out-in">
              <div :key="store.convenienceCharge">
                <dd>{{store.convenienceChargeFormatted}}</dd>
              </div>
            </transition>

            <dt>Total Cost</dt>
            <transition name="slide-fade" mode="out-in">
              <div :key="store.totalCostFormatted">
                <dd>{{store.totalCostFormatted}}</dd>
              </div>
            </transition>
        </dl>
    </div>
  </div>
</template>

<script>
import store from  './../store.js'

export default {
  data () {
    return {
      store : store,
    }
  },
  computed : {
    totalCost () {
      return store.totalCost
    },
    bgImage()
    {
      return  `/img/${this.store.stampType.toLowerCase()}.jpg`
    },
    expiry(){
      if(!store.state.expiry) return 'Choose Stamp Expiry'
      return store.expiryChoices
        .find( choice => choice.type == store.state.expiry)
        .expiry
    },
  },
  created(){
     this.name = `${this.store.state.buyer.first_name} ${this.store.state.buyer.middle_name } ${this.store.state.buyer.last_name }`
     this.scn = `${this.store.state.buyer.scn}`
  },
  mounted(){
    const img = new Image();
    const canvas = this.$refs.preview
    this.ctx = canvas.getContext('2d')

    img.src = `${this.bgImage.toLowerCase()}`;

    img.addEventListener('load', (e)=> {
      const height = canvas.height
       const width = canvas.width
       this.ctx.drawImage(e.target, 20, 20,  300, 300);
       this.ctx.font = 'bold 24px serif';
       this.ctx.textAlign = 'center'
       this.ctx.fillText(this.name.toUpperCase(), width/2 + 15, height/2 + 20, 200);
       this.ctx.font = '20px serif';
       this.ctx.fillText(this.scn, width/2 + 15, height/2 + 45, 200);
       this.ctx.stroke();

    })


  },
}
</script>

<style>
.slide-fade-enter-active,
.slide-in-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active,
.slide-in-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.1);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
.slide-in-enter, .slide-in-leave-to {
  transform: translateY(0px);
  opacity: 1;
}
</style>
