<template>
  <div class="card">
    <div class="card-body wizard-content">
      <h4 class="card-title text-center"  >Request For Stamp</h4>
      <h6 class="card-subtitle text-center mb-4">Please fill all fields correctly</h6>
      <form action="#" class="tab-wizard wizard-circle mt-3 wizard clearfix" role="application" id="steps-uid-0">
        <div class="steps clearfix hidden-sm">
            <step-indicator :steps="steps" :currentStep="currentIndex"></step-indicator>
        </div>
        <div class="content clearfix">
          <!-- form components go here -->
          <div class="row mt-4" style="min-height:300px">
            <div class="col-sm-8 mx-auto">
              <transition>
                <keep-alive>
                  <transition name="fade" mode="out-in" appear>
                    <component :is="currentComponent"></component>
                  </transition>
                </keep-alive>
             </transition>
            </div>
          </div>
        </div>
        <div class="actions clearfix">
          <ul role="menu" >
            <li v-show="currentIndex > 1" >
              <a  @click.prevent="goToPrevious"  role="menuitem">Previous</a>
            </li>
            <li  v-show="currentIndex < steps.length " style="">
              <a @click.prevent="goToNext" role="menuitem">Next</a>
            </li>
            <li  v-show="currentIndex == steps.length">
              <a role="menuitem" v-show="canSubmit" id="submit-btn" @click.prevent="submitRequest" :class="isSubmitting ? 'button-primary' : 'btn-success'" v-text="submitText" :disabled="isSubmitting"></a>
            </li>
            </ul>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import StepIndicator from './StepIndicator.vue'
import PersonalInformation from './PersonalInformation.vue'
import StampQuantity from './StampQuantity.vue'
import Checkout from './Checkout.vue'
// import PickUp from './PickUp.vue'
import store from './../store.js'


export default {
  components:{
    StepIndicator, PersonalInformation, StampQuantity, Checkout
  },
  props: ['buyer'],
  data () {
    return {
      isSubmitting: false,
      submitText: 'Checkout',
      state : store.state,
      currentIndex : 1,
   steps: [
        {
          index: 1,
          title : 'Personal Information',
          component: 'PersonalInformation',
          isCurrent: true
        },
        {
          index: 2,
          title : 'Quantity',
          component: 'StampQuantity',
          isCurrent: false
        },
        // {
        //   index: 3,
        //   title : 'Pick Up',
        //   component: 'PickUp',
        //   isCurrent: false
        // },
        {
          index: 3,
          title : 'Checkout',
          component: 'Checkout',
          isCurrent: false
        }
      ],
    }
  },
  methods: {
    goToNext(){
      this.currentIndex++
    },
    goToPrevious(){
      --this.currentIndex
    },
    submitRequest() {
      if(!store.totalCost){
        flash('This is an invalid transaction, please add some items to your cart!')
        return
      }
      this.submitText = 'Processing...'
      this.isSubmitting = true
      // stamp type, packs, sheets, amount, pickup address
      const {numberOfPacks: packs, numberOfSheets: sheets, expiry } = store.state
      const amount = store.totalCost,
            charge = store.convenienceCharge,
            pick_up_address = store.pickUpAddress,
            stamp_type = store.stampType

      axios.post('/stamp-requests', {stamp_type, packs, sheets, amount, charge, pick_up_address, expiry })

          .then( resp => {
              if (resp.data.created === false) {
                //show fialure notification
                flash('Oops!, there was a problem saving processing your request')
                return
              }
                flash('Your request has been registered you will be asked to make payment in a few seconds to confirm your request')
                console.dir(resp.data)
                setTimeout( () => {
                  window.location.pathname = `/stamp-request-payment/${resp.data.request_data.id}`
                }, 1500)
            })
            .catch( err => {
               flash('Oops!, there was a problem saving processing your request')
               this.submitText = 'Checkout'
               this.isSubmitting = false
                return
            })
    }
  }
  ,
  computed: {
    currentComponent (){
      return this.steps[this.currentIndex-1].component;
    },
    canSubmit(){
      return store.totalCost > 0
    }
  },

  watch: {
    currentIndex(newIndex, oldIndex){
      this.steps[oldIndex-1].isCurrent = false;
      this.steps[newIndex-1].isCurrent = true;
    }
  },
  created() {
  console.log(this.isSmallScreen)
  }
}
</script>
<style>
.fade-enter-active{
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.1);
}
.fade-leave-active {
  transition: all .3s ease-out;
}
.fade-enter {
  opacity: 0;
  transform : translateY(2px)
}
.fade-leave-to{
  transform : translateY(10px)
}
@media (max-width:700px) {
  #steps-uid-0 .hidden-sm {
    display:none;
  }
}
#submit-btn.btn-submitting {
  background: red;
}
#submit-btn.btn-primary {
  background: grey;
}
</style>
