<template>
  <div>
    <div class="card-body bg-light" v-if="isManager">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="card-body">
             <h2 class="text-success text-center"> <span class="text-dark h5">Public Stamps </span> &nbsp; {{ totalPublicStamps }} </h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="card-body">
             <h2 class="text-success text-center"> <span class="text-dark h5">Private Stamps </span> &nbsp; {{ totalPrivateStamps }} </h2>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="card-body">
              <h2 class="text-success text-center"> <span class="text-dark h5">Total Sales</span>  &nbsp;{{ totalSales | moneyValue}} </h2>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="card-body bg-light">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group row">
          <label class="control-label col-sm-3 text-bold">Request Status</label>
          <div class="col-sm-9">
            <select class="form-control custom-select"  name="status" v-model="filters.status" >
              <option value=""> Select A Status</option>
              <option v-for="choice of [ 'Unconfirmed', 'Confirmed', 'Processing', 'Shipped', 'Delivered']" :key="choice" :value="choice"> {{ choice}}</option>
            </select>
            <small class="form-control-feedback"> filter requests by status. </small> </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group row">
            <div class="col-sm-3">
              <label for="start" class="control-label">Month</label>
            </div>
            <div class="col-sm-9">
              <input type="month" class="form-control" min="2018-01" name="month"  v-model="filters.month">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-md btn-outline-info mx-2" @click="clearFilters"> Clear Filters</button>
          <button
            class="btn btn-md btn-outline-warning mx-2"
            v-show="exports.length"
            @click="prepareExport">
              Export Selected
          </button>
          <a class="btn btn-md btn-outline-success mx-2" v-show="downloadReady" :href="downloadURL" download> Download</a>
        </div>
    </div>
    <div class="row">
      <div class="col-sm-4 d-block ml-auto">
          <div class="input-group">
            <input type="text" v-model="search" class="form-control" placeholder="Search by Name, SCN or Branch" >
            <div class="input-group-append">
              <div class="input-group-text">
                <i class="mdi mdi-magnify"> </i>
              </div>
            </div>
          </div>

      </div>
    </div>
    </div>
  <table class="table table-hover request-table" v-if="stamps.length">
    <thead>
      <tr>
        <th class="text-center">S/N</th>
        <th class="text-left">Name</th>
        <th class="text-left">Details</th>
        <th class="text-center">Expiry</th>
        <th class="text-center">Branch</th>
        <th class="text-center">Date</th>
        <th class="text-center">Amount(&#8358;) </th>
        <th class="text-center">Actions</th>
        <th valign="center" v-show="isManager">
          <!-- <label for="checkall">
            <input type="checkbox" value="check-all" > Check All
          </label> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(request, i) in stamps" :key="request.details">
        <td class="text-center" v-text="i+1"></td>
        <td class="text-left"> {{ name(request.buyer) }}  <br/> <small><strong>({{ request.scn }}) </strong></small>  </td>
        <td class="text-left">
          {{request.details}}
          <br>
          <small> ({{ request.status }}) </small>
        </td>
        <td class="font-weight-bold">{{request.expiry | expiryDate}}</td>
        <td class="text-center">{{ request.branch }}</td>
        <td class="text-center">{{ request.created_at | formattedDate}}</td>
        <td class="text-center">{{  parseFloat( request.amount / 100 ).toLocaleString('en') }}</td>

        <td class="text-center" align="baseline">
          <template v-if="isManager">
              <select
              class="form-control w-50 my-auto status"
              v-model="request.status"
              @change="updateStatus(request)"
              >
              <option value="unconfirmed">Unconfirmed</option>
              <option value="confirmed">Confirmed</option>
              <option value="processing">Processing</option>
              <option value="shipped">Shipped</option>
              <option value="shipped">Delivered</option>
            </select>
            <i
            class="mdi mdi-delete-circle text-danger mx-3 h2 clickable"
            @click="deleteRequest(request)"
            ></i>
          </template>
            <template v-else>
              {{ request.status }}
            </template>
       </td>
       <td v-show="isManager">
         <label for="checkbox">
            <input type="checkbox" value="check-all" @click="requestChecked(request)" :checked="request.toExport"> Export
          </label>
        </td>
      </tr>
    </tbody>
  </table>
<h3 class="text-center  my-5" v-else>There are no requests matching your criteria</h3>
</div>
<!-- </div> -->

</template>

<script>

export default {
  data () {
    return {
      requests : [],
      downloadReady: false,
      downloadURL: '',
      filters : {month: '', status: ''},
      exports: [],
      checkAll : false,
      currentMonth: null,
      search: '',
    }
  },

  computed: {
    isManager(){
      return userRole == 'manager'
    },
    stamps(){
      if(this.search != ''){
        return this.requests.filter( req => {
          const search = this.search.toLowerCase()

          return req.buyer_name.toLowerCase().includes(search)
                || req.branch.toLowerCase().includes(search)
                || req.scn.toLowerCase().includes(search)
        })
      }
      let filters = [ ...Object.values(this.filters) ]

          filters = filters.map( f => f.toLowerCase() )

      // They are both empty when there is show all
      if (filters[0]  == filters[1]) return this.requests

      // if any reuqest has status or month in this array it should be shown
      return this.requests.filter( r => filters.includes( r.status) && filters.includes(r.month) )
    },
    totalSales(){
      return this.requests.reduce(  (amount, request) => amount + request.amount, 0 )
    },
    totalPublicStamps(){
      return this.requests.filter( request => request.type.toLowerCase() == 'public' ).length
    },
    totalPrivateStamps(){
      return this.requests.filter( request => request.type.toLowerCase() == 'private' ).length
    }
  },
  methods: {
    findRecords(){
      if(this.search == '') return

  },
    prepareExport(){
      if(confirm('Are you sure you want to perform, this operation?')){
        const vm = this;
        axios.post('/export-requests', { requests_ids : this.exports })
          .then( resp => {
            if(!resp.status === 200) throw new Error('There was a problem exporting the records, please contact support')
              flash('Succesfully Generated report, click on the download button to download the report')
              vm.downloadURL = resp.data.url
              vm.downloadReady = true
          })
          .catch( err => {
              if( err.response && err.response.status === 403 ){
              flash(err.response.data.message)
              return
            }
            flash(err.message)
          })
}
    },
    getFormattedDate(value) {
      let event = new Date(Date.parse(value) );
      let year = event.getFullYear()
      let month = event.getMonth() + 1;
      month = month < 10 ? '0' + month : month;
      return `${year}-${month}`
    },
      requestChecked(request){
      const newRequest = Object.assign({}, request, { toExport : !request.toExport })
      const index = this.stamps.indexOf(request)
      const id = request.id
      this.exports.includes(id) ? this.exports.splice( this.exports.indexOf(id),  1 ) : this.exports.push(id)
      this.stamps.splice(index, 1, newRequest)
    },
    name({first_name, middle_name, last_name}) {
      return `${first_name}, ${middle_name} ${last_name}`
      },
      updateStatus(request){
        axios.put('/stamp-request-status', {
          stamp_request_id : request.id,
          status :  request.status
        })
        .then( resp => {
        if(! resp.data.updated ) {
          flash('Failed to update request status')
          return
        }
        flash('Successfully updated request status')
        })
        .catch( err =>  {
        if( err.response && err.response.status === 403 ){
          flash(err.response.data.message)
          return
        }
        flash(err.message)
      })
    },
    deleteRequest(request){
      if( confirm('Are you Sure you want to delete this request?') ){
        const index =  this.requests.indexOf(request)
        axios.delete(`/stamp-requests/${request.id }`)
        .then( resp => {
        if(resp.status === 200 ) {
          this.requests.splice(index, 1)
          flash('Successfully deleted request')
          return
        }
          throw new Error('There was a problem deleting the request')
        } )
        .catch( err =>  {
        if( err.response && err.response.status === 403 ){
          flash(err.response.data.message)
          return
        }
        flash(err.message)
        } )
      }
    },
    isChecked(id) {
    return this.exports.includes(id);
    },
    setDefaultFilters(){
    //  this.filters.month = this.getFormattedDate(new Date())
    //  this.filters.status = 'Confirmed'
    },
    clearFilters(){
    this.filters.status = this.filters.month = ''
    }
   },
 filters: {
    formattedDate(value){
      const date = new Date(value);
      return date.toDateString()
    },
    moneyValue(value) {
      const naira = parseFloat( value /100 ).toLocaleString('en');
      return `₦ ${(naira)}`
    },
    expiryDate(val){
      return val.toUpperCase()
    },
},

created() {
 const  vm = this
 this.setDefaultFilters()
 this.$on('request-status-changed', this.updateStatus)
 axios.get('/all-requests-data')
 .then( resp => {
  if(resp.data.status !== 'success')
  {
    flash('There was a problem connecting fetching the requested resource, please contact support')
    return
  }
  // month: getFormattedMonth(r.created_at)
  vm.requests = resp.data.data.map( r => Object.assign({}, r, {toExport : false, month: vm.getFormattedDate(r.created_at) } ) )
  } )
   .catch( err => console.log(err) )
  }
}
</script>
<style lang="css" scoped>
.clickable:hover {
  cursor: pointer;
}

td {
    vertical-align: center;
}
.request-table,
.request-table th{
  font-size: 0.8rem !important;
}

select.status{
  font-size: 0.8em;
  padding: 0;
  padding-right: 0.2em;

}
</style>
