<template>
  <section role="tabpanel" class="body current" aria-hidden="false">
    <div class="row">
      <div class="col-md-6">
              <div class="form-group">
                <label for="intType1">Expiry</label>
              </div>
          </div>
        <div class="col-md-6">
          <select class="form-control custom-select"  name="status" @change="expiryChanged">
              <option value=""> Select Expiry</option>
              <option v-for="choice in expiryChoices" :key="choice.expiry" :value="choice.type">{{ choice.expiry}}</option>
            </select>
        </div>
    </div>
    <div class="row">
      <div class="col-md-6">
              <div class="form-group">
                <label for="intType1">Stamp Type</label>
              </div>
          </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" id="StampType" v-model="stampType" disabled="disabled">
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
              <div class="form-group">
                  <label for="number of packs">Number of Packs</label>
              </div>
          </div>
           <div class="col-md-6">
              <div class="form-group">
                  <input type="number" name="number_of_packs" min="0"   v-model="state.numberOfPacks" class="form-control" data-placeholder="Number of packs">
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
              <div class="form-group">
                  <label for="number_of_sheets">Number of (Extra) Sheets</label>
              </div>
          </div>
           <div class="col-md-6">
              <div class="form-group">
                  <input type="number" v-model="state.numberOfSheets"  min="0" max="3" name="number_of_sheets" class="form-control" data-placeholder="Number of sheets">
              </div>
        </div>
    </div>
  </section>
</template>

<script>
import store from './../store.js'
export default {
  data(){
    return{
      state: store.state,
      stampType: store.stampType,
      expiryChoices: store.expiryChoices,
    }
  },
  methods: {
    typeChanged(e){
      events.$emit('stamptTypeChanged', e.target.value)
    },

    expiryChanged(e){
      store.state.expiry = e.target.value
    }
}
}
</script>

<style>
</style>
