<template>
  <ul role="tablist">
    <li v-for="step in steps" :key="step.index" role="tab" :class="{done: step.index < currentStep ,  current: step.isCurrent }" aria-disabled="false" aria-selected="true">
      <a>
        <span class="step">{{step.index}}</span> {{step.title}}
      </a>
    </li>
  </ul>
</template>

<script>


export default {
  props: ['steps', 'currentStep'],
  data () {
    return {
    }
  },
}
</script>

<style lang="css" scoped>
</style>
